.title-container {
    background-color: palevioletred;
    padding-top: 45px;
    padding-bottom: 45px;
}

.title-container-wed {
    background-color: black;
    padding-top: 45px;
    padding-bottom: 45px;
}

.title-container-fall{
    background-color: #CF7526;
    padding-top: 45px;
    padding-bottom: 45px;
}

.title-container-spring {
    background-color: #AC5588;
    padding-top: 45px;
    padding-bottom: 45px;
}

.title-container-roses {
    background-color: #A20C30;
    padding-top: 45px;
    padding-bottom: 45px;
}
