
.title-container {
    text-align: left;
    padding-left: 3%;
    padding-top: 12%;
    padding-bottom: 1%;
    font-size: 50px;
    color: #C1865C;
    text-shadow: 1px 4px 4px black;
    font-family: 'MonteCarlo', cursive;
    background-color: #FCEDF1;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
 